## Introduction to Scikit-Learn (sklearn)
This notebook demonstrates some of the most useful functions of the beautiful Scikit-Learn library.

What w'r going to cover:

0. An end-to-end Scikit-Learn  workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Put it all together

#### 0. An end-to-end Scikit-Learn workflow  (above mentioned)

In [27]:
# 1. Get the data ready
import pandas as pd
import numpy as np
heart_disease=pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [28]:
# Create X (feature matrix)
X= heart_disease.drop("target", axis=1)        # except target column
# Create y (labels)
Y=heart_disease["target"]

In [51]:
# 2. Choose the right estimator/algorithm for our problems
# Choose the right model and hyperparameters (tile on a model)
from sklearn.ensemble import RandomForestClassifier
clf= RandomForestClassifier(n_estimators=100)   # clf (classification)=model

# we'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [52]:
# 3.Fit the model to the training data
from sklearn.model_selection import train_test_split    # split the data into train and test
X_train, X_test, Y_train, Y_test=train_test_split (X, Y, test_size=0.2)       # data for training is 80%

In [53]:
clf.fit (X_train, Y_train);

In [54]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3
275,52,1,0,125,212,0,1,168,0,1.0,2,2,3
185,44,1,0,112,290,0,0,153,0,0.0,2,1,2
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,51,1,3,125,213,0,0,125,1,1.4,2,1,2
137,62,1,1,128,208,1,0,140,0,0.0,2,0,2
181,65,0,0,150,225,0,0,114,0,1.0,1,3,3
214,56,1,0,125,249,1,0,144,1,1.2,1,1,2
161,55,0,1,132,342,0,1,166,0,1.2,2,0,2

In [55]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2
156,47,1,2,130,253,0,1,179,0,0.0,2,0,2
40,51,0,2,140,308,0,0,142,0,1.5,2,1,2
182,61,0,0,130,330,0,0,169,0,0.0,2,0,2
90,48,1,2,124,255,1,1,175,0,0.0,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,52,1,0,112,230,0,1,160,0,0.0,2,1,2
109,50,0,0,110,254,0,0,159,0,0.0,2,0,2
148,44,1,2,120,226,0,1,169,0,0.0,2,0,2
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2
233,64,1,0,120,246,0,0,96,1,2.2,0,1,2

In [56]:
Y_preds=clf.predict(X_test)
Y_preds

array([0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0], dtype=int64)

In [57]:
Y_test

23     1
156    1
40     1
182    0
90     1
      ..
261    0
109    1
148    1
302    0
233    0
Name: target, Length: 61, dtype: int64

In [58]:
# make a prediction
Y_label= clf.predict(np.array([0,1,2,3])

SyntaxError: incomplete input (2522874428.py, line 2)

In [59]:
# 4. Evaluate the model on the training data and the test data
clf.score(X_train, Y_train)

1.0

In [60]:
clf.score(X_test, Y_test)

0.7377049180327869

In [61]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(Y_test, Y_preds))

              precision    recall  f1-score   support

           0       0.68      0.73      0.70        26
           1       0.79      0.74      0.76        35

    accuracy                           0.74        61
   macro avg       0.73      0.74      0.73        61
weighted avg       0.74      0.74      0.74        61

In [62]:
confusion_matrix(Y_test, Y_preds)

array([[19,  7],
       [ 9, 26]], dtype=int64)

In [63]:
accuracy_score(Y_test, Y_preds)

0.7377049180327869

In [76]:
# 5. Improve a model 
# Try different amounts of n_estimators
np. random.seed(43)
for i in range(10,100,10):
    print(f"Trying model with{i} estimators...")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train, Y_train)
    # or 
    # clf.fit(X_train, Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, Y_test) * 100:.2f}%")
    print("")

Trying model with10 estimators...
Model accuracy on test set: 67.21%

Trying model with20 estimators...
Model accuracy on test set: 73.77%

Trying model with30 estimators...
Model accuracy on test set: 75.41%

Trying model with40 estimators...
Model accuracy on test set: 78.69%

Trying model with50 estimators...
Model accuracy on test set: 72.13%

Trying model with60 estimators...
Model accuracy on test set: 77.05%

Trying model with70 estimators...
Model accuracy on test set: 77.05%

Trying model with80 estimators...
Model accuracy on test set: 73.77%

Trying model with90 estimators...
Model accuracy on test set: 77.05%

In [77]:
# 6. Save a model and laod it
import pickle
pickle.dump(clf, open("Random_forest_model_1.pkl","wb"))      # wb- write in binary

In [79]:
loaded_model=pickle.load(open("Random_forest_model_1.pkl", "rb"))
# rb- read binary
loaded_model.score(X_test, Y_test)

0.7704918032786885

In [ ]:
# done so far