## Introduction to Scikit-Learn (sklearn)
This notebook demonstrates some of the most useful functions of the beautiful Scikit-Learn library.

What w'r going to cover:

In [6]:
# Let's listify the contents
what_were_covering=[
"0. An end-to-end Scikit-Learn  workflow",
"1. Getting the data ready",
"2. Choose the right estimator/algorithm for our problems",
"3. Fit the model/algorithm and use it to make predictions on our data",
"4. Evaluating a model",
"5. Improve a model",
"6. Save and load a trained model",
"7. Put it all together"]

In [7]:
what_were_covering

['0. An end-to-end Scikit-Learn  workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algorithm for our problems',
 '3. Fit the model/algorithm and use it to make predictions on our data',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Put it all together']

#### 0. An end-to-end Scikit-Learn workflow  (above mentioned)

In [8]:
# standard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
heart_disease=pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [10]:
# Create X (feature matrix)
X= heart_disease.drop("target", axis=1)        # except target column
# Create y (labels)
Y=heart_disease["target"]

In [11]:
# 2. Choose the right estimator/algorithm for our problems
# Choose the right model and hyperparameters (tile on a model)
from sklearn.ensemble import RandomForestClassifier
clf= RandomForestClassifier(n_estimators=100)   # clf (classification)=model

# we'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [12]:
# 3.Fit the model to the training data
from sklearn.model_selection import train_test_split    # split the data into train and test
X_train, X_test, Y_train, Y_test=train_test_split (X, Y, test_size=0.2)       # data for training is 80%

In [13]:
clf.fit (X_train, Y_train);

In [14]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
254,59,1,3,160,273,0,0,125,0,0.0,2,0,2
91,57,1,0,132,207,0,1,168,1,0.0,2,0,3
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,37,0,2,120,215,0,1,170,0,0.0,2,0,2
177,64,1,2,140,335,0,1,158,0,0.0,2,0,2
218,65,1,0,135,254,0,0,127,0,2.8,1,1,3
209,59,1,0,140,177,0,1,162,1,0.0,2,1,3
82,60,0,2,102,318,0,1,160,0,0.0,2,1,2

In [15]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
247,66,1,1,160,246,0,1,120,1,0.0,1,3,1
185,44,1,0,112,290,0,0,153,0,0.0,2,1,2
211,61,1,0,120,260,0,1,140,1,3.6,1,1,3
161,55,0,1,132,342,0,1,166,0,1.2,2,0,2
68,44,1,1,120,220,0,1,170,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,49,1,2,118,149,0,0,126,0,0.8,2,3,2
100,42,1,3,148,244,0,0,178,0,0.8,2,2,2
96,62,0,0,140,394,0,0,157,0,1.2,1,0,2
34,51,1,3,125,213,0,0,125,1,1.4,2,1,2
233,64,1,0,120,246,0,0,96,1,2.2,0,1,2

In [16]:
Y_preds=clf.predict(X_test)
Y_preds

array([0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0], dtype=int64)

In [17]:
Y_test

247    0
185    0
211    0
161    1
68     1
      ..
267    0
100    1
96     1
34     1
233    0
Name: target, Length: 61, dtype: int64

In [18]:
# make a prediction
# Y_label= clf.predict(np.array([0,1,2,3]))

In [19]:
# 4. Evaluate the model on the training data and the test data
clf.score(X_train, Y_train)

1.0

In [20]:
clf.score(X_test, Y_test)

0.8032786885245902

In [21]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(Y_test, Y_preds))

              precision    recall  f1-score   support

           0       0.79      0.73      0.76        26
           1       0.81      0.86      0.83        35

    accuracy                           0.80        61
   macro avg       0.80      0.79      0.80        61
weighted avg       0.80      0.80      0.80        61

In [22]:
confusion_matrix(Y_test, Y_preds)

array([[19,  7],
       [ 5, 30]], dtype=int64)

In [23]:
accuracy_score(Y_test, Y_preds)

0.8032786885245902

In [24]:
# 5. Improve a model 
# Try different amounts of n_estimators
np. random.seed(43)
for i in range(10,100,10):
    print(f"Trying model with{i} estimators...")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train, Y_train)
    # or 
    # clf.fit(X_train, Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, Y_test) * 100:.2f}%")
    print("")

Trying model with10 estimators...
Model accuracy on test set: 81.97%

Trying model with20 estimators...
Model accuracy on test set: 78.69%

Trying model with30 estimators...
Model accuracy on test set: 80.33%

Trying model with40 estimators...

Model accuracy on test set: 83.61%

Trying model with50 estimators...
Model accuracy on test set: 81.97%

Trying model with60 estimators...
Model accuracy on test set: 83.61%

Trying model with70 estimators...
Model accuracy on test set: 81.97%

Trying model with80 estimators...
Model accuracy on test set: 80.33%

Trying model with90 estimators...
Model accuracy on test set: 78.69%

In [25]:
# 6. Save a model and laod it
import pickle
pickle.dump(clf, open("Random_forest_model_1.pkl","wb"))      # wb- write in binary

In [26]:
loaded_model=pickle.load(open("Random_forest_model_1.pkl", "rb"))
# rb- read binary
loaded_model.score(X_test, Y_test)

0.7868852459016393

## Getting our data ready to be used with ML
##### Three main things we have to do:
### 1. Split the dat into features and labels (usually 'X' nd 'Y')
### 2. Filling (also called imputing) or disregarding missing values
### 3. Converting non-numerical values to numerical values (also calles feature encoding)

In [32]:
X= heart_disease.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [31]:
Y=heart_disease["target"]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64